[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/pavan.mane@gmail.com (PavanMane)
[access "refs/for/refs/*"]
	read = group user/pavan.mane@gmail.com (PavanMane)
	push = group user/pavan.mane@gmail.com (PavanMane)
	label-Code-Review = -2..+2 group user/pavan.mane@gmail.com (PavanMane)
	label-Verified = -1..+1 group user/pavan.mane@gmail.com (PavanMane)
	rebase = group user/pavan.mane@gmail.com (PavanMane)
	removeReviewer = group user/pavan.mane@gmail.com (PavanMane)
	submit = group user/pavan.mane@gmail.com (PavanMane)
[access "refs/heads/*"]
	read = group user/pavan.mane@gmail.com (PavanMane)
	create = group user/pavan.mane@gmail.com (PavanMane)
	push = +force group user/pavan.mane@gmail.com (PavanMane)
	pushMerge = group user/pavan.mane@gmail.com (PavanMane)
[access "refs/tags/*"]
	push = group user/pavan.mane@gmail.com (PavanMane)
	push = +force group user/pavan.mane@gmail.com (PavanMane)
