[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/PavanMane
[access "refs/for/refs/*"]
	read = group user/PavanMane
	push = group user/PavanMane
	label-Code-Review = -2..+2 group user/PavanMane
	label-Verified = -1..+1 group user/PavanMane
	rebase = group user/PavanMane
	removeReviewer = group user/PavanMane
	submit = group user/PavanMane
[access "refs/heads/*"]
	read = group user/PavanMane
	create = group user/PavanMane
	push = +force group user/PavanMane
	pushMerge = group user/PavanMane
[access "refs/tags/*"]
	push = group user/PavanMane
	push = +force group user/PavanMane
